<!-- Title Card -->
<div class = "container">
	<div class = "jumbotron name-tag">
		<div class = "row">
			<div class = "col-md-2">
			
			<%=image_tag @data["data"]["avatar"] %>
			</div>		
			<div class = "col-md-10">			
				<i class = "name-tag"><h1><%= @user.tag %></h1>
				<h3> <%= @data["data"]["level"] %> </h3></i>
			</div>
		</div>
	</div>

<!-- Show player stats indepth -->
	<%= render 'welcome/stat_windows' %> 
<!-- Partial displays all hero icons-->
	<%= render 'welcome/hero_icons' %>

	<div class = "jumbotron name-tag"> 
		<%if Team.exists?(user_id: current_user.id) == false%>
			<%= link_to '<button type="button">Create Team</button>'.html_safe, new_team_path %>
		<%else%>
			<%= link_to '<button type="button">View Team</button>'.html_safe, teams_show_path %>
		<%end%>
	<div>

</div>