<!-- Title Card -->
<div class = "container">
	<div class = "jumbotron name-tag">
		<div class = "row">
			<div class = "col-md-2">
				<%= image_tag src=@data["data"]["avatar"] %>
			</div>		
			<div class = "col-md-10">			
				<i class = "name-tag"><h1><%= @data["data"]["username"] %></h1>
				<h3>Level <%= @data["data"]["level"] %></h3></i>
			</div>
		</div>
	</div>

<!-- Show player stats indepth -->
	<%= render 'welcome/stat_windows' %>
	<!-- Partial displays all hero icons-->
	<%= render 'welcome/hero_icons' %>

</div>